fp-info-cache
PostLightController-cache.lib
PostLightController.kicad_pcb-bak
PostLightController.sch-bak
PostLightController-gbr.zip
gbr/
mac/DerivedData
mac/CompileClover.xcodeproj/xcuserdata
mac/CompileClover.xcodeproj/project.xcworkspace/xcuserdata
mac/PostLightEffects*.arlx
.vscode/arduino.json
.vscode/c_cpp_properties.json
*.arlx
mac/PostLightController.xcodeproj/project.xcworkspace/xcuserdata/cmarrin.xcuserdatad/IDEFindNavigatorScopes.plist
mac/PostLightController.xcodeproj/project.xcworkspace/xcuserdata/cmarrin.xcuserdatad/UserInterfaceState.xcuserstate
mac/PostLightController.xcodeproj/xcuserdata/cmarrin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PostLightEffects.clvx
#auto_saved_files#
_autosave-PostLightController.sch
~PostLightController.sch.lck
mac/fs
*.
data.bin
data
