fp-info-cache
PostLightController-cache.lib
PostLightController.kicad_pcb-bak
PostLightController.sch-bak
PostLightController-gbr.zip
gbr/
mac/DerivedData
mac/CompileClover.xcodeproj/xcuserdata
mac/CompileClover.xcodeproj/project.xcworkspace/xcuserdata
mac/PostLightEffects*.arlx
.vscode/arduino.json
.vscode/c_cpp_properties.json
