CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
CONFIG_LWIP_MAX_SOCKETS=20
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_ESP_TIMER_TASK_STACK_SIZE=3184
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=8192
